.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 40vh;
}

.greeting {
  padding-top: 20vh;
  text-align: center;
  font-size: xx-large;
}

.subHeader {
  font-size: large;
}
